---
layout: portfolio
---


<section class="mt-15">
    {% set postslist = collections.projects %}
    <div class="grid grid-flow-col grid-rows-2 grid-cols-2 gap-2">
    {% for post in postslist | reverse %}
    <div class="rounded max-w-full h-auto align-middle border-none">
    <article class="my-8">
        <p class="text-base leading-6 text-gray-500 mb-3">
        </p>
        {% if post.data.thumbnail %}
        <p class="text-lg text-gray-500 mb-3">
          <button type="button" style="transition: all .15s ease">
            <a href="{{ post.url | url }}"><img src="{{settings.url}}{{ post.data.thumbnail }}" alt="{{ post.data.title }}" class="shadow rounded max-w-full h-auto align-middle border-none"></a>
          </button>
        </p>
        {% endif %}
    </article>
    </div>
    {% endfor %}
    </div>
</section>